.m-login.m-login--1 .m-login__wrapper {
    padding: 20px 2rem 2rem 2rem;
}
input.form-control.m-input {
    margin-bottom: 10px;
    padding: 15px 10px 8px !important;
}
.table {
    width: auto !important;
    min-width: 60% !important;
}
.form-group img {
    width: 200px;
    height: auto;
}
.table-hover img {
    width: 150px;
    height: auto;
}
.alert-danger, .alert-info {
    margin: 10px 30px 5px;
}
.btn-search {
    margin-top: 27px;
    padding: 10px 15px 12px !important;
    margin-left: -33px;
}
.count-item {
    margin: 30px 0px 15px;
}
.form-search {
    padding-left: 0px !important;
    padding-bottom: 20px !important;
}